<footer class="footer">
  <div class="container">
    <ul class="navbar-nav navbar-left no-bullet">
      <li><%= link_to "Line of Credit", line_of_credit_path %></li>  
      <li><%= link_to "Invoice Factoring", invoice_factoring_path %></li>
      <li><%= link_to "Partner", partner_path %></li>
      <li><%= link_to "Press", press_path %></li>
      <li><%= link_to "Support", support_path %></li>
    </ul>
    <ul class="navbar-nav navbar-right no-bullet">
      <li><%= link_to 'Terms of Service', terms_path %></li>
      <li><%= link_to 'Privacy', terms_privacy_policy_path %></li> 
      <li>&copy; 2018 Wefactor.com</li> 
    </ul>
  </div>
</footer>