<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @company.amount %>
</p>

<p>
  <strong>Financing type:</strong>
  <%= @company.financing_type %>
</p>

<p>
  <strong>Financing time:</strong>
  <%= @company.financing_time %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @company.company_phone %>
</p>

<p>
  <strong>Trade name:</strong>
  <%= @company.trade_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @company.company_address %>
</p>

<p>
  <strong>Company suite:</strong>
  <%= @company.company_suite %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @company.company_city %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @company.company_state %>
</p>

<p>
  <strong>Company zip:</strong>
  <%= @company.company_zip %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @company.tax_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @company.entity_type %>
</p>

<p>
  <strong>Annual revenue:</strong>
  <%= @company.annual_revenue %>
</p>

<p>
  <strong>Sell to:</strong>
  <%= @company.sell_to %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
